@model UrlDetailsViewModel

@{
    string baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host.Value}";
}


<h2>URL information</h2>

<p class="form-label">Original URL</p>
<p class="form-control"><a target="_blank" href="@Model.OriginalUrl">@Model.OriginalUrl</a></p>
<p class="form-label">Shorted URL</p>
<p class="form-control"><a target="_blank" href="@(baseUrl + "/" + Model.ShortUrl)">@(baseUrl + "/" + Model.ShortUrl)</a></p>
<p class="form-label">Create Date</p>
<p class="form-control">@Model.CreatedDate.ToShortDateString()</p>
<p class="form-label">Created By</p>
<p class="form-control">@Model.Username</p>