@model IEnumerable<UrlViewModel>

@inject SignInManager<IdentityUser> SignInManager

@{
    string baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host.Value}";
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex">
        <h2><a class="url-navigation first" asp-controller="Home" asp-action="UserUrls">Your URLs</a></h2>
        <h2><a class="url-navigation url-active" asp-controller="Home" asp-action="Index">URLs</a></h2>
    </div>
}
else
{
    <h2>URLs</h2>
}

<table class="table">
    <thead>
        <tr>
            <th>Original Url</th>
            <th>Shorted Url</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (UrlViewModel url in Model)
        {
            <tr>
                <td>
                    <a target="_blank" href="@url.OriginalUrl">@(url.OriginalUrl.Length > 40 ? url.OriginalUrl.Substring(0, 40) + "..." : url.OriginalUrl)</a>
                </td>
                <td>
                    <a target="_blank" href="@(baseUrl + "/" + url.ShortUrl)">@(baseUrl + "/" + url.ShortUrl)</a>
                </td>
                @if (User.IsInRole(Roles.Admin.ToString()))
                {
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Details" asp-route-id="@url.Id">View Details</a>
                        <a class="btn btn-outline-danger" asp-controller="Home" asp-action="DeleteUrl" asp-route-id="@url.Id">Delete</a>
                    </td>
                }
                else if (User.IsInRole(Roles.User.ToString()))
                {
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Details" asp-route-id="@url.Id">View Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

